<table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z4">
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
      <td mat-cell *matCellDef="let rate">{{ rate.currency }}</td>
    </ng-container>
    <ng-container matColumnDef="difference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">
        Difference
      </th>
      <td mat-cell *matCellDef="let rate" class="text-right">
        {{ rate.diff | number: "1.0-4" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">
        Percentage
      </th>
      <td mat-cell *matCellDef="let rate" class="text-right">
        {{ rate.diffPercentage | percent: "1.2" }}
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>